.playground-theme-juejin {
  --playground-code-background: rgb(248, 249, 250);
  --playground-code-atom-color: rgb(0, 0, 0);
  --playground-code-attribute-color: rgb(253, 119, 65);
  --playground-code-builtin-color: rgb(187, 81, 184);
  --playground-code-comment-color: rgb(0, 158, 157);
  --playground-code-def-color: rgb(27, 162, 240);
  --playground-code-keyword-color: rgb(187, 81, 184);
  --playground-code-meta-color: rgb(0, 0, 0);
  --playground-code-number-color: rgb(0, 0, 0);
  --playground-code-qualifier-color: rgb(0, 0, 0);
  --playground-code-string-color: rgb(0, 0, 0);
  --playground-code-string-2-color: rgb(0, 0, 0);
  --playground-code-tag-color: rgb(16, 112, 0);
  --playground-code-type-color: rgb(0, 0, 0);
  --playground-code-variable-2-color: rgb(0, 80, 160);
  --playground-code-variable-3-color: rgb(0, 0, 0)
}